.Name {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#7a8473;
}

header {
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-color:#cfccb6;
}

.Nemi img {
    width: 200px; /* Set the width to your desired size */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
    border-radius:25%;
    
}

body {
    background-color:#ccdcc1;
}

.Tabs {
    background-color: #f2f2f2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content:flex-start;
    padding: 10px;
    color:#ccdcc1;
}

.Tabs ul {
    list-style: none; /* Remove bullet points from the tabs */
    color:black;
    padding: 25px;
    justify-content: space-between;
    
}
.Title {
    text-decoration:overline;
    padding: 20px;
    background-color:#ccdcc1;
    color:#4f4e4f;
}

#About,
#Projects,
#Contact {
    justify-content:center;
    background-color:#ccdcc1;
    padding: 60px;
    color:#7a8473;
    border-style:solid;
}